body, html {
	width: 100vw;
	height: 100vh;
	background-color: #333;
	overflow: hidden;
	font-family: sans;
}

#grid-container {
	width: 600px;
	height: 600px;

	display: grid;
	grid-template-columns: repeat(5,1fr);
	gap: 10px;
	justify-items: center;
	align-items: center;
	margin: auto;
	overflow: hidden;
}

.puzzle {
	width: 100px;
	height: 100px;
}

[data-state="inactive"] {
	background-color: black;
}

[data-state="active"] {
	background-color: green;
}

[data-state="selectable"] {
	background-color: yellow;
}

[data-state="goal"] {
	background-color: blue;
}

#button-container {
	width: 600px;
	margin: auto;
	text-align: center;
	margin-top: 30px;

	#reset-button {
		margin: auto;
		text-align: center;
		font-size: 40pt;
		border: 1px solid white;
		padding: 10px;
		background: #aaa;
		transition: background .25s;

		&:hover{
			background: #ddd;
		}
	}
}
